<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="\payroll\Frontend\style\style.css">
    <script src="\payroll\Frontend\scripts\manageusers.js" defer></script>
    <title>Payroll - Manage Users</title>
</head>
<body>
    <!-- simple navbar with logout -->
    <nav class="navbar navbar-expand navbar-dark">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" href="admin-menu.html">Menu</a>
            <a class="nav-item nav-link logout btn" type="button">Logout</a>
        </div>
    </nav>

    <!-- Pay history data table -->
    <div class="container mt-5">
        <h2 style="color: rgb(83, 205, 160); margin-bottom: 20px; cursor:default;" class="text-center"><b>Manage Users</b></h2>
    </div>

    <!-- show/hide button -->
    <div class="container mt-5 text-center">
        <button class="btn btn-dark show-hide-btn" type="button">Add User</button>
    </div>

    <!-- add employee form -->


    <!-- table for login data -->
    <div class="container mt-5">
        <table class="table table-striped text-light text-center">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Role</th>
                    <th scope="col">-</th>
                </tr>
            </thead>
            <tbody class="login-table">
                <!-- server fills data here -->
            </tbody>
        </table>
    </div>
</html>