html{
    scroll-behavior: smooth;
}
body{
    background: #313131;
}

.btn-primary{
    background-color: rgb(83, 205, 160);
    border-color: rgb(83, 205, 160);
    margin-top: 1em;
}

.btn-primary:hover{
    background-color: rgb(78, 168, 135);
    border-color: rgb(83, 205, 160);
}

.menu-button{
    height: 100px;
    width: 100px;
}
